<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApjxtkRT_7B1umiFJupeu2Z8ytpW4lFrY</string>
	<key>GCM_SENDER_ID</key>
	<string>987521462078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiPeminjaman</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-peminjman</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-peminjman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987521462078:ios:40507e412ee6b4291e466f</string>
</dict>
</plist>